.container{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.header {
    background-color: lightseagreen;
}

.header >div:first-child{
    width: 1166px;
    margin:0 auto;
    color: #ffffff;
    font-family: 'D2Coding Bold', monospace;
    line-height: 50px;
    font-size: 25px;
}

.wrapper{
    width: 698px;
    margin: 0 auto;
}